<app-menu></app-menu>
<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="principal">
      <ion-buttons slot="start">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
      <ion-title class="text-center text-white">
        About us - Sobre nosotros
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">

  
    <ion-card class="ion-text-center">
      <img alt="Foto de K HOWARD: https://www.pexels.com/es-es/foto/vista-aerea-del-area-de-estacionamiento-2220292/" src="assets/about1.jpg" />
      <ion-card-header class="ion-text-justify">
        <ion-card-title>Sobre nosotros</ion-card-title>
        <ion-card-subtitle>About us</ion-card-subtitle>
      </ion-card-header>
        
      <ion-card-content class="ion-text-justify">
        En Estacionamiento DVJ, nos dedicamos a mejorar la 
        vida universitaria simplificando el proceso de 
        estacionamiento. Nuestra meta es eliminar las 
        preocupaciones sobre llegar tarde a clases al proporcionar 
        una solución eficiente para encontrar estacionamiento. 
        Además, nos esforzamos por promover la convivencia 
        pacífica entre los estudiantes, evitando conflictos 
        por lugares de estacionamiento.
      </ion-card-content>

      <ion-card-header class="ion-text-justify">
        <ion-card-title>Misi&oacute;n</ion-card-title>
        <ion-card-subtitle>Mission</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="ion-text-justify">
        En Estacionamiento DVJ, nos dedicamos a mejorar la 
        experiencia universitaria. Buscamos facilitar a los 
        estudiantes la gestión eficiente de estacionamientos, 
        contribuyendo a su puntualidad y bienestar. Nuestra misión
        es optimizar la experiencia de estacionamiento, ahorrando
        tiempo y reduciendo las tensiones asociadas con la
        asignación de espacios en entornos universitarios.
      </ion-card-content>

      <ion-card-header class="ion-text-justify">
        <ion-card-title >Vision</ion-card-title>
        <ion-card-subtitle>Vision</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="ion-text-justify">
        En Estacionamiento DVJ, aspiramos a transformar 
        la búsqueda de estacionamientos para estudiantes,
        ofreciendo una solución sin complicaciones y eficiente.
        Nos guiamos por la búsqueda constante de:
        
        <ul class="vision">
          <li>Facilitar la Experiencia</li>
          <li>Optimizar la Movilidad</li>
          <li>Promover la Sostenibilidad</li>
          <li>Mejorar la Productividad</li>
        </ul>
      </ion-card-content>

      <img alt="Foto de Stephan Müller: https://www.pexels.com/es-es/foto/foto-de-alto-angulo-de-vehiculos-estacionados-cerca-del-edificio-753876/" src="assets/about2.jpg" />
      <ion-card-header class="ion-text-justify">
        <ion-card-title>Objetivos</ion-card-title>
        <ion-card-subtitle>Objectives</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="ion-text-justify">
        Uno de los objetivos de nuestra aplicación móvil es mejorar la movilidad 
        en la universidad al ofrecer una herramienta que permita a los estudiantes
        llegar a sus destinos de manera más eficiente. Para lograr este objetivo, nuestra aplicación
        proporciona los lugares disponibles en el estacionamiento seleccionado, minimizando el tiempo
        de búsqueda.
      </ion-card-content>

      <ion-card-header class="ion-text-justify">
        <ion-card-title>Contactos</ion-card-title>
        <ion-card-subtitle>Contacts</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="ion-text-justify">
        estacionamientodvj&#64;gmail.com
        <br/>
        656-765-4321
        <br/>
        Ubicados por la AV.Vic.Guerrero 45225
      </ion-card-content>
      <br/>
    </ion-card>    
  </ion-content>
</div>
