.label{
    font-family: 'Lexend', sans-serif;
    font-size: 20px;
}
ion-title{
    font-family: 'Lexend', sans-serif;
    font-size: 20px;
    color: white;
}
ion-content.menu{
    background: rgb(31, 31, 31);
}

ion-list ion-item{
    background: rgb(31, 31, 31);
}
ion-list{
    background: rgb(31, 31, 31);
}