<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="principal">
      <ion-avatar slot="start" class="p-2">
        <img alt="" src="../../../assets/logo.png" />
      </ion-avatar>
      <ion-title>User name</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content color="secundario">
    <ion-list>
      <ion-item class="item" href="/home" lines="none">
        <ion-icon name="home-outline" slot="start"></ion-icon>
        <ion-label class="label">Inicio</ion-label>
      </ion-item>
      <ion-item class="item" href="/home" lines="none">
        <ion-icon name="car-sport-outline" slot="start"></ion-icon>
        <ion-label class="label">Estacionamiento I</ion-label>
      </ion-item>
      <ion-item class="item" href="/home" lines="none">
        <ion-icon name="car-sport-outline" slot="start"></ion-icon>
        <ion-label class="label">Estacionamiento J</ion-label>
      </ion-item>
      <ion-item class="item" href="/home" lines="none">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label class="label">Perfil </ion-label>
      </ion-item>
      <ion-item class="item" href="/home" lines="none">
        <ion-icon name="information-circle-outline" slot="start"></ion-icon>
        <ion-label class="label">Sobre Nosotros </ion-label>
      </ion-item>
      <ion-item class="item" href="/home" lines="none">
        <ion-icon name="exit-outline" slot="start" color="danger"></ion-icon>
        <ion-label class="label">Cerrar Sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>