.fondo{
    background: rgb(31, 31, 31);
    min-height: 100%;
}
.body{
    width: 90%;
}
.favorito{
    background: rgb(252, 236, 15);
    //background-image: url(../../assets/silla-de-ruedas-2.png);
    background-size: 80px;
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 20%;
}
.favorito ion-item::part(native){
    background: rgb(252, 236, 15);
}
.libre{
    background: rgb(2, 219, 129);
}
.libre ion-item::part(native){
    background: rgb(2, 219, 129);
}
.ocupado{
    background: rgb(216, 101, 80);
}
.ocupado ion-item::part(native){
    background: rgb(216, 101, 80);
}
.favoritoOcupado{
    background: rgb(105, 105, 102);
}
.favoritoOcupado ion-item::part(native){
    background: rgb(105, 105, 102);
}